*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
      font-family: 'Poppins', sans-serif;
      background: rgb(244, 244, 244);
      color: black;
}

/* Navigation Designing */

.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   width: 90%;
   margin: 20px;
   padding: 10px 30px;
}

.nav-left{
   display: flex;
   align-items: center;
   justify-content: space-between;  
   gap: 30px;
}

.nav-left ul{
   display: flex;
   align-items: center;
   list-style: none;
}

.nav-left ul li{
   margin-right: 20px;
}

.nav-left ul li a{
   text-decoration: none;
   color: black;
   font-size: 15px;
   font-weight: 600;
}

.nav-right{
   display: flex;
   align-items: center;
   gap: 40px;
}